autoload/
lua/prettier/*
lua/jalance-nvim/
lua/dadbod-nvim/
lua/intelli/nvim/
lua/nvpm/
cpp/
assembly/
NekoVimTheme/
neovim-theme/
img/
galaxy/
gardenal/
.config/gh/
.emacs.d/auto-save-list/
.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/init.el~
.emacs.d/snippets/
.emacs.d/.cache/treemacs-persist
.emacs.d/.cache/treemacs-persist~
.emacs.d/.lsp-session-v1
.emacs.d/'*.#'
.emacs.d/.ccls-cache/*